<% include header.ejs %>
<form method="post" action="/post">
    <h3>标题</h3>
    <p><input type="text" name="title"/></p>
    <p>
        <textarea cols="100" rows="20" name="post"></textarea>
    </p>
    <p>
        <input type="submit" value="发表" />
    </p>
</form>
<% include footer.ejs %>