<ol>
    <% for(var i =0; len = data.length, i < len; i++){%>
    <li><%= data[i].name %>: <b><%= data[i].job %></b></li>
    <% } %>
</ol>
<%- "<h1>Pls join me to help them(Congratulations!!!)</h1>" %>

